*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: sans-serif;
  background-color: #1f1f1f;
}

.wrapper {
  padding: 30px 20px 60px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #E05426;
  font-family: 'Prompt', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.card {
  background-color: hsl(0, 0%, 19%);
  border-radius: 5px;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.209) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px 50px 40px;
}

.password-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem 0;
}

.password-logo img{
  width: 150px;
}

.card-body {
  min-height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin-top: 30px;
}

.card-footer {
  text-align: center;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #dc2e13;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.209) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #F78E1E;
  box-shadow: none;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10px 30px 10px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #D4332E;
  border-radius: 6px;
  resize: none;
  outline: none;
  overflow: hidden;
  white-space: pre-wrap;
  background-color:#ffe9d2;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dd6841;
  margin-top: 3rem;
  font-size: .85rem;
}
footer a {
  color: #dd6841;
  font-size: .8rem;
}

@media (max-width: 690px) {
  
  h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
  }
  .card {
    padding: 30px 20px 50px;
  }

  .password-logo img{
    width: 100px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
  }

  .card-footer {
    text-align: center;
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
    padding: 30px 10px 50px 10px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1rem;
  }
}
